body {
	background-color: #fff;
}

.navbar-inverse {
	background-color: #87509c; !important
	border-color: #87509c; !important
}

.side-nav {
	background-color: #222; !important
}

.navbar-inverse .navbar-brand {
	color: #fff; !important
}

.navbar-inverse .navbar-nav>li>a {
	color: #fff; !important
}

.top-nav>li>a {
	color: #fff; !important
}

.side-nav>li>ul>li>a {
	color: #fff; !important
}

.panel {
	height: 400px;
}

#visualEditor {
	overflow: auto;
	height: 310px;
	width: 100%;
}

.index-list {
	width: 40%;
	margin: auto;
}

.dropdown-hint {
	color: #808080;
	font-style: italic;
	font-size:  0.9em;
	padding: 4px;

}

/** Snackbar */
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
}
#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 1s;
	animation: fadein 0.5s, fadeout 0.5s 1s;
}
@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

/** Mobile Devices */
@media (max-width: 900px) {
	.index-list {
		width: 90%;
	}
}
